<!DOCTYPE html>
<html>

<head>
  <title>From Local</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='iconlight.ico') }}">

</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./forum.html" title="">02 : Forum</a></li>
            <li><a href="./world.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>
  <h2>
    NOt a HOMe PAGe {{ 99 + 77}}
  </h2>

  <script src="../static/script.js"> </script>
</body>

</html>